@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <li class="nav-item">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="Home" asp-action="Index">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SMSS</div>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <!-- Nav Item - Dashboard -->
    </li>
    <li class="nav-item active">
        <a class="nav-link"  asp-area="" asp-controller="Admin" asp-action="Index">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
        <!-- Divider -->
        <hr class="sidebar-divider">
    </li>
    <!-- Heading -->
    <!-- Heading -->
    <li class="nav-item">
        <div class="sidebar-heading">
            Materials
        </div>
        <!-- Nav Item - Pages Collapse Menu -->
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-book"></i>
            <span>Book</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Book:</h6>
                <a class="collapse-item" asp-area="" asp-controller="Books" asp-action="Add">
                    <i class="fas fa-plus-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                    Add New
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Books" asp-action="MyBooks">
                    <i class="fas fa-universal-access fa-sm fa-fw mr-2 text-gray-400"></i>
                    My Books
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Books" asp-action="Submitted">
                    <i class="fas fa-plus-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                    Submitted
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Books" asp-action="Rejected">
                    <i class="fas fa-plus-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                    Rejected
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Books" asp-action="Index">
                    <i class="fas fa-book-open fa-sm fa-fw mr-2 text-gray-400"></i>
                    All Books
                </a>
            </div>
        </div>
    </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-house-damage"></i>
            <span>House</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">House:</h6>
                <a class="collapse-item" asp-area="" asp-controller="Houses" asp-action="Add">
                    <i class="fas fa-plus-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                    Add New
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Houses" asp-action="MyHouses">
                    <i class="fas fa-universal-access fa-sm fa-fw mr-2 text-gray-400"></i>
                    My House
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Houses" asp-action="Submitted">
                    <i class="fas fa-plus-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                    Submitted
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Houses" asp-action="Rejected">
                    <i class="fas fa-plus-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                    Rejected
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Houses" asp-action="Index">
                    <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
                    All House
                </a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-file-pdf"></i>
            <span>Document</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Document:</h6>
                <a class="collapse-item" asp-area="" asp-controller="Documents" asp-action="Add">
                    <i class="fas fa-plus-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                    Add New
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Documents" asp-action="MyDocuments">
                    <i class="fas fa-universal-access fa-sm fa-fw mr-2 text-gray-400"></i>
                    My Document
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Documents" asp-action="Submitted">
                    <i class="fas fa-plus-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                    Submitted
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Documents" asp-action="Rejected">
                    <i class="fas fa-plus-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                    Rejected
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Documents" asp-action="Index">
                    <i class="fas fa-file-pdf fa-sm fa-fw mr-2 text-gray-400"></i>
                    All Document
                </a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-fw fa-file-download"></i>
            <span>Software</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Software:</h6>
                <a class="collapse-item" asp-area="" asp-controller="Softwares" asp-action="Add">
                    <i class="fas fa-plus-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                    Add New
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Softwares" asp-action="MySoftwares">
                    <i class="fas fa-universal-access fa-sm fa-fw mr-2 text-gray-400"></i>
                    My Software
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Softwares" asp-action="Submitted">
                    <i class="fas fa-plus-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                    Submitted
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Softwares" asp-action="Rejected">
                    <i class="fas fa-plus-circle fa-sm fa-fw mr-2 text-gray-400"></i>
                    Rejected
                </a>
                <a class="collapse-item" asp-area="" asp-controller="Softwares" asp-action="Index">
                    <i class="fas fa-file-download fa-sm fa-fw mr-2 text-gray-400"></i>
                    All Software
                </a>
            </div>
        </div>
    </li>
    <!-- Divider -->
    <li class="nav-item">
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            Users
        </div>
    </li>
    <!-- Nav Item - User -->
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="AppUser">
            <i class="fas fa-fw fa-user-alt"></i>
            <span>Users</span>
        </a>
    </li>
    <li class="nav-item">
        <hr class="sidebar-divider">
        <!-- Heading -->
        <div class="sidebar-heading">
            Feedbacks
        </div>
    </li>
    <!-- Nav Item - Feedbacks -->
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Feedbacks">
            <i class="fas fa-fw fa-smile"></i>
            <span>Feedbacks</span>
        </a>
    </li>
    <!-- Divider -->
    <li>
        <hr class="sidebar-divider d-none d-md-block">
    </li>
    <!-- Sidebar Toggler (Sidebar) -->
    <li class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </li>
</ul>
<!-- End of Sidebar -->
