@model ErrorViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Error";
}



<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- 404 Error Text -->
    <div class="text-center">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">Page Not Found</p>
        <hr />
        @if (Model.ShowRequestId)
        {
            <p>
                <strong>Request ID:</strong> <code>@Model.RequestId</code>
            </p>
        }
        <p class="text-gray-500 mb-0">An error occurred while processing your request.</p>
        <br />
        <a asp-area="" asp-controller="Home" asp-action="Index">&larr; Back to Home</a>
    </div>
</div>